<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.EmployeeMapper">
    <resultMap id="EmployeeResultMap" type="com.example.demo.domain.Employee">
        <id column="id" property="id"/>
        <result column="employee_name" property="employeeName"/>
        <result column="employee_code" property="employeeCode"/>
        <result column="company_name" property="companyName"/>
        <result column="company_code" property="companyCode"/>
        <result column="mobilephone" property="mobilephone"/>
        <result column="email" property="email"/>
        <result column="sex" property="sex"/>
    </resultMap>

    <select id="selectAll" parameterType="com.example.demo.domain.Page" resultMap="EmployeeResultMap">
        select * from employee
         <where>
             <if test="employee.companyCode != null and employee.companyCode != ''">
                 company_name = #{employee.companyCode}
             </if>
         </where>
         <if test="pageNo != null and pageNo != '' and pageSize != null and pageSize != ''">
             limit ${pageNo},${pageSize}
         </if>
    </select>

    <select id="selectCount" parameterType="com.example.demo.domain.Employee" resultType="Integer">
        select count(*) from employee
        <where>
            <if test="companyCode != null and companyCode != ''">
                company_name = #{companyCode}
            </if>
        </where>
    </select>

    <select id="selectA" resultType="Integer">
        select count(*) from employee
        where company_name = #{employee.companyName} and company_code = #{companyCode}
    </select>

    <select id="queryCurrTime" resultType="java.lang.String">
		select now() currTime
	</select>

    <select id="query" resultType="String">
        select date_sub(DATE_FORMAT(#{date},'%Y-%m-%d'), INTERVAL -1 DAY);
--         select STR_TO_DATE('2019-04-26 16:47:31.0','%Y-%m-%d');
    </select>
</mapper>