<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/* Title of this template will be passed to the head fragment along with custom links and scripts */-->
<head>
    <title>凭证导出</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <!--<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>-->
    <!-- Custom Fonts -->
    <!--<link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>-->
</head>
<body>
<input class="form-control" placeholder="报销单号" id="business_code">
<button type="button" class="btn btn-primary button-margin" id="search"><i class="glyphicon glyphicon-search"></i>&nbsp;搜索</button>
<div id="wrapper">
    <div id="page-wrapper" style="margin: 0 0 0 30px;">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span>单据列表</span>
                    </div>
                    <div class="panel-body">
                        <table width="100%" class="table table-bordered table-striped table-hover" id="data_mapping_table">
                            <thead>
                            <tr>
                                <th>报销单号</th>
                                <th>操作人</th>
                                <th>操作人</th>
                                <th>操作时间</th>
                                <th>节点名称</th>
                                <th>节点状态</th>
                                <!--<th>费用归属部门</th>-->
                                <!--<th>归属部门编号</th>-->
                                <!--<th>事业部OU</th>-->
                                <!--<th>节点耗时（分钟）</th>-->
                                <!--<th>节点耗时（小时）</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 创建用户模态框（Modal） -->
<div class="modal fade" aria-hidden="true" style="margin-top:50px;" id="create_account_modal">
    <div class="modal-dialog" style="width:100%;">
            <div class="modal-content" style="max-height:500px;overflow:auto;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">
                        <span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;查看详情
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span>单据列表</span>
                        </div>
                        <div class="panel-body">
                            <table width="100%" class="table table-bordered table-striped table-hover" id="data_mapping_table2">
                                <thead>
                                <tr>
                                    <!--<th>报销单号</th>-->
                                    <th>操作人</th>
                                    <th>操作人</th>
                                    <th>操作时间</th>
                                    <th>节点名称</th>
                                    <th>节点状态</th>
                                    <!--<th>费用归属部门</th>-->
                                    <!--<th>归属部门编号</th>-->
                                    <!--<th>事业部OU</th>-->
                                    <th>节点耗时（分钟）</th>
                                    <th>节点耗时（小时）</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/datatables/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.js"></script>
<script src="https://cdn.bootcss.com/datatables/1.10.15/js/dataTables.bootstrap.js"></script>
<!--<script type="text/javascript" th:src="@{/vendor/jquery/jquery.min.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/vendor/datatables/js/jquery.dataTables.min.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/vendor/bootstrap/js/bootstrap.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/vendor/datatables-responsive/dataTables.responsive.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>-->
<script>
    $(document).ready(function () {

        $('#data_mapping_table').DataTable({
            "responsive": true,
            "processing": true,
            "serverSide": true,
            "bAutoWidth": "false",
            "sPaginationType": "full_numbers",
            "bPaginate": true,  //是否显示分页
            "bLengthChange": true,  //每页显示的记录数
            // "sScrollY": "100%",
            "bSort": false,
            "searching": false,
            "ajax": {
                // data:{businessCode:$("#business_code").val()},
                "url": '/public/list',
                "contentType": 'application/json; charset=utf-8',
                // dataSrc: 'data'
                "data": function ( data ) {
                    data.businessCode = $("#business_code").val();
                }
            },
            columns: [
                {
                    "data": "id"
                },
                {data: 'employeeName'},
                {data: 'employeeCode'},
                {data: 'companyName'},
                {data: 'companyCode'},
                // {data: 'mobilephone'},
                // {data: 'email'},
                // {data: 'sex'},
                {"data":"id","render": function (data, type, full) { // 返回自定义内容
                        var edit = "<button class='btn btn-default' onclick=editMapping('" + full.id + "');><i class='glyphicon glyphicon-edit'></i>详情</button>";
                        return edit;
                    }}
            ],
            "oLanguage": {//自定义语言提示
                "sProcessing": "正在加载中...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "对不起，查询不到任何相关数据",
                "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
                "sInfoEmpty": "第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                } //多语言配置
            }
        });

    });
    $('#search').click(function(){
        $('#data_mapping_table').DataTable().ajax.reload();
    })
</script>

<script>


    function editMapping(id) {
        $("#create_account_modal").modal("show");
        $('#data_mapping_table2').DataTable({
            "responsive": true,
            "processing": true,
            "serverSide": true,
            "bAutoWidth": "false",
            "sPaginationType": "full_numbers",
            "bPaginate": true,  //是否显示分页
            "bLengthChange": true,  //每页显示的记录数
            // "sScrollY": "100%",
            "bSort": false,
            "searching": false,
            "ajax": {
                data:{id:id},
                "url": '/public/list',
                "contentType": 'application/json; charset=utf-8',
                dataSrc: 'data'

            },
            columns: [
                {data: 'id'},
                {data: 'employeeName'},
                {data: 'employeeCode'},
                {data: 'companyName'},
                {data: 'companyCode'},
                {data: 'companyCode'},
                {data: 'companyCode'}
            ],
            "language": {//自定义语言提示
                "processing": "正在加载中...",
                "lengthMenu": "显示 _MENU_ 项结果",
                "zeroRecords": "对不起，查询不到任何相关数据",
                "info": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
                "infoEmpty": "第 0 至 0 项结果，共 0 项",
                "infoFiltered": "",
                "search": "搜索:",
                "url": "",
                "paginate": {
                    "first": "首页",
                    "previous": "上页",
                    "next": "下页",
                    "last": "末页"
                } //多语言配置
            }
        });
    }

</script>
</body>
</html>